/* color: #FF1300 */

body{
    font-family: 'Mukta', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
    padding-left: 20px;
    margin-bottom: 0;
}

h1 strong{
    font-family: 'Patua One', cursive;
    color:#FF1300;
    font-size: 43px;
}

.marca{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slogan{
    margin-top: 0;
    padding-left: 25px;
}

.search-button {
    margin: 0;
    background-image: url('../images/search.svg');
    background-size: 10px;
    background-repeat: no-repeat;
    padding:5px;
  }

.search-area{
    display: flex;
}

.custom-service{
    font-size: 13px;
}

.custom-service-price{
    font-weight: bold;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.horizontal-menu{
    display: flex;
    justify-content: space-between;
    border: 1px solid gray
}

.horizontal-menu ul{
    display: inherit;
    justify-content: inherit;
}

.horizontal-menu ul li{
    display: inherit;
    justify-content: inherit;
}

.bottom-home,
.bottom-signup,
.bottom-myaccount{
    font-weight: bold;
}

.horizontal-menu a{
    color: black;
    text-decoration: none;
    font-size: 15px;
    padding: 0 10px;
}

.vertical-menu{
    border: 1px solid gray;
}

.screen{
    display: flex;
}











.middle-screen{
    padding-left: 25px;
}

.principal-image{
    width: 800px;
}

.principal-image-container{
    margin: 20px 20px 0 0;
}

.description-principal-image{
    margin: 0 20px 0 0;
    border: 1px solid gray;
}


.featured-collection{
    display: flex;
    background-color: #f8f8f8;
}

.general-featured img{
    width: 150px;
    height: 170px;
}

.featured-head{
    display: flex;
    background-color: #FF1300;
    margin: 20px 20px 20px 0;
    justify-content: space-between;
}

.newest-items-head{
    display: flex;
    justify-content: space-between;
    margin: 0 20px 0 0;
}

.newest-items-collection{
    display: flex;
    background-color: #f8f8f8;
}

.tittle-featured{
    color: white;
    font-size: 18px;
    padding-left: 20px;
}











.newsletter{
    border: 1px solid gray;
    background-color: rgb(189, 189, 189);
}

.newsletter-details{
    background-color: #f8f8f8;
    border: 1px solid gray;
    width: 190px;
}

.newsletter-tittle{
    color: #FF1300;
    font-size: 18px;
    margin: 5px;
}

.newsletter-text{
    font-size: 13px;
    margin: 3px;
    padding: 3px;
    margin-bottom: 10px;
}

.newsletter-input-data{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    justify-content: center;
    padding-left: 20px;
}

.newsletter-input{
    width: 134px;
    align-items: flex-end;
    padding-left: 20px;
    margin-left: 0px;
}

.newsletter-bottom{
    margin-top: 10px;
    width: 100px;
    margin-left: 57px;
    margin-bottom: 10px;
}